<!DOCTYPE html>
<html>

<style>
.center {
    text-align: center;
    border: 3px solid black;
}

* {
    font-family: Arial, sans-serif;
}
</style>

<div class="center">

    <head>
        <title>{{ title }}</title>
    </head>
    
    <body>
        <h1>PiMat Webserver</h1>
        <h2>Solves as of: {{ time }}</h2>
    </body>

    <form method="get" action="/solves3x3x3.txt">
        <button type="submit">Save 3x3 solves</button>
    </form><br>  
    <form method="get" action="/solves2x2x2.txt">
        <button type="submit">Save 2x2 solves</button>
    </form><br>  
    <form method="get" action="/solves4x4x4.txt">
        <button type="submit">Save 4x4 solves</button>
    </form><br>  
    <form method="get" action="/solves5x5x5.txt">
        <button type="submit">Save 5x5 solves</button>
    </form><br>
    <form method="get" action="/solves6x6x6.txt">
        <button type="submit">Save 6x6 solves</button>
    </form><br>   
    <form method="get" action="/solves7x7x7.txt">
        <button type="submit">Save 7x7 solves</button>
    </form><br>  
    </form><br>  
    <form method="get" action="/screenshot">
        <button type="submit">Take Screenshot</button>
    </form><br>  
    </form><br>  
    <form method="get" action="/shutdown">
        <button type="submit">Shutdown Webserver</button>
    </form><br>

</div>

</html>
